/********** This CSS is written in SASS in BEM methodology **********/

body {
  background-color: rgb(26, 36, 45);
}

#app {
  width: 100%;

  background-image: url(../img/pizza.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: repeat-y;
}

/* VARIABLES ************************************************************************ */

@import "variables";

/* RESET **************************************************************************** */

@import "reset";

/* MIXIN **************************************************************************** */

@import "mixin";

/* HEADER *************************************************************************** */

@import "../components/Header";

/* MENU ***************************************************************************** */

@import "../components/Menu";

/* FOOTER *************************************************************************** */

@import "../components/Footer";

/* MODAL **************************************************************************** */

@import "../components/Modal";

/* ICONS SVG ************************************************************************ */

@import "../iconComponents/IconPizzaPiece";
@import "../iconComponents/IconPizza";
