/********** This CSS is written in SASS in BEM methodology **********/

body {
  background-color: rgb(26, 36, 45);
}

#app {
  width: 100%;
  height: 100vh;

  background-image: url(../img/pizza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* VARIABLES ************************************************************************ */

@import "variables";

/* RESET **************************************************************************** */

@import "reset";

/* MIXIN **************************************************************************** */

@import "mixin";

/* HEADER *************************************************************************** */

@import "../components/Header";

/* MENU ***************************************************************************** */

@import "../components/Menu";
