.header {
  background-color: $black;
  max-width:  800px;
  margin: 0 auto;
  height: auto;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header__title {
  font: $xlarge $basic;
  color: $yellow;
  text-align: center;
  font-weight: 800;
  padding: 10px 20px;

  @include mobile {
    font-size: $large;
    padding: 10px;
  }
}

.header__text {
  font: $medium $basic;
  color: $yellow;
  text-align: center;
  font-weight: 600;
  flex: 1 1 100%;
  padding: 10px 0;

  @include mobile {
    font-size: $small;
  }
}

.header__button--color {
  background-color: $yellow !important;
  border: solid 2px $yellow !important;
  margin: 10px 0 !important;
}

.header__button {
  background-color: $orange;
  border: solid 2px $orange;
  font: $medium $basic;
  font-weight: 600;
  color: $black;
  text-align: center;
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin: 10px;
  text-transform: uppercase;
  position: relative;

  @include mobile {
  }

  &:before {
    content: '';
    position: absolute;
    border: $black solid 4px;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    opacity: 1;
  }
}
