.menu-box {
  background-color: $black;
  max-width:  800px;
  margin: 50px auto 0 auto;
}

.accordion__item {
  margin: 0 auto;
}

.accordion__header {
  height: 30px;
  padding: 10px;
  background-color: $yellow;
  border: solid 2px $yellow;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    height: auto;
  }
}

.accordion__header-layout {
  display: flex;
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
  flex: 1 1 50%;

  @include mobile {
    justify-content: center;
    flex: 1 1 100%;
  }
}

.justify-end {
  justify-content: flex-end;
  flex: 1 1 50%;

  @include mobile {
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: flex-start;
  }
}

.accordion__title {
  font: $large $basic;
  font-weight: 800;
  color: $black;

  @include mobile {
    margin-bottom: 10px;
  }
}

.accordion__button {
  background-color: $black;
  border: solid 2px $black;
  font: $medium $basic;
  font-weight: 600;
  color: $yellow;
  text-align: center;
  width: 100px;
  height: 40px;
  cursor: pointer;
  position: relative;

  @include mobile {
    flex: 1 1 100%;
  }

  &:before {
    content: '';
    position: absolute;
    border: $yellow solid 3px;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    opacity: 1;
  }
}

.accordion__body {
  font: $medium $basic;
  font-weight: 600;
  color: $olive;
  padding: 10px;
  border: solid 2px $yellow;
}

.accordion__ingredient {

}
