.modal-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  width: 60%;
  height: 400px;
  margin: auto;
  background-color: $orange;
  animation: show .5s ease;

  @include mobile {
    width: 100%;
    height: 280px;
  }

  @include tablet {
    width: 80%;
    height: 300px;
  }
}

@keyframes show {
  0% { display: none; opacity: 0;}
  1% {display: flex; opacity: 0;}
  100% {display: flex; opacity: 1;}
}

.modal-content {
  width: 80%;
  height: 80%;
}

.modal-txt {
  font: $xlarge $basic;
  color: $black;
  font-weight: 800;
  padding: 10px 0;
  text-align: left;

  @include mobile {
    font-size: $large
  }
}

.modal-input {
  outline: none;
  width: 100%;
  height: 50px;
  border: none;
  background-color: $black;
  color: $olive;
  font: $medium $basic;
  padding: 10px;
  box-sizing: border-box;

  &:focus {
    color: $yellow;
  }

  &::placeholder {
    font: $small $basic;
    color: $olive;
    font-weight: 600;
  }
}

.modal-button {
  background-color: $orange;
  border: solid 2px $orange;
  font: $xlarge $basic;
  font-weight: 600;
  color: $black;
  text-align: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  right: -55%;

  @include mobile {
    position: absolute;
    top: -50px;
    right: 0;
  }

  @include tablet {
    position: absolute;
    top: 0;
    right: 0;
  }

  &:before {
    content: '';
    position: absolute;
    border: $black solid 4px;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    opacity: 1;
  }
}
